.coins {
overflow-y: scroll;
}
.home a {
    font-size: 22px;
    text-decoration: none;
    border: 2px solid #6CBF2A;
    border-radius: 5px;
    padding: 1px 8px;
    cursor: pointer;
    display: inline-block;
    transition: 0.3s;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #6CBF2A;
    height: 30px;
}
.home a:hover {
    transform: translateY(-7.77px);
}
.login a {
    font-size: 22px;
    text-decoration: none;
    border: 2px solid #6CBF2A;
    border-radius: 5px;
    padding: 1px 8px;
    display: inline-block;
    transition : 0.3s;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #6CBF2A;
    height: 30px;
}
.login a:hover {
    transform: translateY(-7.77px);
}
.sign a {
    font-size: 22px;
    text-decoration: none;
    border: 2px solid #6CBF2A;
    border-radius: 5px;
    padding: 1px 8px;
    color: white;
    display: inline-block;
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #6CBF2A;
    height: 30px;
}
.sign a:hover {
    transform: translateY(-7.77px);
}
.titre {
    text-align: center;
    line-height: 70px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px 1px;
}
.tit11  {
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;
    font-size: 18px;
    border: 1px solid red;
    width: 100px;
    margin-left: 30px;
    background-color: red;
    height: 30px;
    border-radius: 5px;
    transition: 0.4s;
}
.tit11:hover {
   transform: translateY(-7px);
}
.tit11pro {
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;
    font-size: 18px;
    border: 1px solid red;
    width: 150px;
    margin-left: 30px;
    background-color: red;
    height: 30px;
    border-radius: 5px;
    transition: 0.4s;
}
.tit11pro:hover {
    transform: translateY(-7px);
}
.tit12 {
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;
    font-size: 18px;
    border: 1px solid red;
    background-color: red;
    border-radius: 5px;
    width: 100px;
    margin-left: 30px;
    transition: 0.4s;
    height: 30px;
}
.tit12:hover {
    transform: translateY(-7.25px);
}
.phone11 {
    width: 300px;
}
.prix2890 {
    margin-left: 129px;
    margin-top: 2px;
    height: 35px;
    border-radius: 5px;
    border-color: rgb(39, 181, 39);
    transition: 0.4s;
    background-color: rgb(39, 181, 39);
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.prix2890:hover {
    transform: translateY(-7.77px);
}
.instagram a {
    font-size: 22px;
    text-decoration: none;
    border: 2px solid #6CBF2A;
    border-radius: 5px;
    padding: 1px 8px;
    color: white;
    display: inline-block;
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #6CBF2A;
    height: 30px;
}
.instagram :hover {
    transform: translateY(-7.77px);
}
.phonee {
     width: 260px;
     margin-top: 10px;;
}
.prix565 {
    margin-left: 115px;
    margin-top: 2px;
    height: 35px;
    border-radius: 5px;
    border-color: rgb(39, 181, 39);
    transition: 0.4s;
    background-color: rgb(39, 181, 39);
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.prix565:hover {
    transform: translateY(-7.77px);
}